*{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			color: #5b5b5b;
			font-family: "pretendard";
			font-weight: 300;
		}

		a{
			text-decoration: none;
		}

		@font-face{
			src: url("font/pretendard-midium.otf/pretendard-regular.otf/pretendard-thin.otf/pretendard-bold.otf");
			font-family: "pretendard";
		}

		@font-face{
			src: url("font/SDSamliphopangcheBasic.otf");
			font-family: "SDsamlip";
		}

		.header_backimg{
			background-image: url(https://i.postimg.cc/4yFnzzxf/minku-kang-Dpzk-BQq7ej0-unsplash.jpg);
			width: 1920px;
			height: 840px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
		}

		.header{
			padding: 48px 360px 317px 360px;
			vertical-align: middle;
			line-height: 38.5px;
			margin-left: auto;
			margin-right: auto;
			display: flex;
			align-items: center;
		}
			.header_menu{
				float: left;
			}
				.header_menu img{
					width: 48px;
					height: 48px;
					line-height: 38.5px;
					vertical-align: middle;
				}
			.header_logo{
				float: left;
			}
				.header_logo img{
					height: 38.5px;
					line-height: 38.5px;
					vertical-align: middle;
					margin-left: 475px;
					margin-right: 475px;
				}
			.header_login{

			}
				.header_login img{
					width: 48px;
					height: 48px;
					line-height: 38.5px;
					vertical-align: middle;
				}

		h2{
			text-align: center;
			color: white;
			font-weight: 300;
			margin-bottom: 24px;
			font-size: 24px;
		}

		.main_search input[type=text]{
			width: 576px;
			height: 64px;
			margin: 0px auto;
			display: block;
			font-size: 20px;
			padding-left: 48px;
			border-radius: 50px;
			background-color: rgba(0, 0, 0, 0.4);
			border: none;
			color: white;
		}
			.main_search input[type=text]::placeholder{
				color: white;
			}
			.search_btn{
				width: 38px;
				height: 38px;
				display: flex;
				position: relative;
				bottom: 50px;
				left: 1180px;
			}

		.keyword{
			margin-left: 672px;
			margin-top: -20px;
		}
			.keyword a{
				text-decoration: none;
			}
			.k_item{
				background-color: rgba(0, 0, 0, 0.4);
				color: white;
				border-radius: 50px;
				padding: 8px 16px;
				margin-right: 8px;
				font-size: 14px;
				font-weight: 200;
			}

		.suggest{
			margin-top: 56px;
			margin-bottom: 56px;
			text-align: center;
			width: 1920px;
		}
			.suggest a{
				text-decoration: none;
			}
			.s_item img{
				width: 136px;
				height: 136px;
				border-radius: 110px;
				margin: 0 24px;
				z-index: 2;
			}
				.s_item img:hover{
					background-color: rgba(0, 0, 0, 0.4);
				}
			

	.hotplace_backcolor{
			width: 1920px;
			height: 816px;
			background-color: #fafafa;
		}

		.hotplace h3{
			text-align: center;
			font-size: 36px;
			font-family: "SDsamlip";
			color: #E87A3C;
			padding-top: 96px;
			margin-bottom: 32px;
		}
		.hotplace_box{
			width: 1200px;
			height: 564px;
			margin: 0 auto;
		}
		.hotplace_item1{
			display: inline-block;
			vertical-align: top;
			width: 376px;
			position: relative;
			overflow: hidden;
			float: left;
		}
		.hotplace_item1 img{
			width: 376px;
			height: 376px;
		}
			.item1_hidden{
				display: block;
				width: auto;
				text-decoration: none;
			}
			.item_data1{
				position: absolute;
				bottom: 150%;
				left: 30px;
				z-index: 2;
				color: white;
				font-size: 20px;
				transition: all .35s;
			}
				.hotplace_item1:hover .item_data1{
					bottom: 52%;
				}
				.hotplace_item1:hover .item_btn1{
					top: 52%;
				}
			.item_btn1{
				position: absolute;
				top: 150%;
				left: 30px;
				z-index: 2;
				color: white;
				font-size: 20px;
				transition: all .35s;
				background-color: #E87A3C;
				color: white;
				padding: 5px 15px;
				border-radius: 50px;
				font-weight: 500;
			}
				
			.item1_hidden::after{
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.4);
				z-index: 1;
				opacity: 0;
				transition: all .35s;
			}
				.hotplace_item1:hover .item1_hidden::after{
					opacity: 1;
				}

		.hotplace_item2{
			display: inline-block;
			vertical-align: top;
			width: 824px;
			height: 104px;
			position: relative;
			overflow: hidden;
			float: left;
		}
		.hotplace_item2 img{
			width: 824px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;

		}
			.item2_hidden{
				display: block;
				width: auto;
				text-decoration: none;
			}
			.item_data2{
				position: absolute;
				bottom: 150%;
				left: 30px;
				z-index: 2;
				color: white;
				font-size: 20px;
				transition: all .35s;
			}
				.hotplace_item2:hover .item_data2{
					bottom: 28%;
				}
				.hotplace_item2:hover .item_btn2{
					top: 32%;
				}
			.item_btn2{
				position: absolute;
				top: 150%;
				right: 30px;
				z-index: 2;
				color: white;
				font-size: 20px;
				transition: all .35s;
				background-color: #E87A3C;
				color: white;
				padding: 5px 15px;
				border-radius: 50px;
				font-weight: 500;
			}
			.item2_hidden::after{
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.4);
				z-index: 1;
				opacity: 0;
				transition: all .35s;
			}
				.hotplace_item2:hover .item2_hidden::after{
					opacity: 1;
				}

		.hotplace_item3{
			display: inline-block;
			vertical-align: top;
			width: 512px;
			height: 272px;
			position: relative;
			overflow: hidden;
			float: left;
		}
		.hotplace_item3 img{
			width: 100%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}
			.item3_hidden{
				display: block;
				width: auto;
				text-decoration: none;
			}
			.item_data3{
				position: absolute;
				bottom: 150%;
				left: 30px;
				z-index: 2;
				color: white;
				font-size: 20px;
				transition: all .35s;
			}
				.hotplace_item3:hover .item_data3{
					bottom: 52%;
				}
				.hotplace_item3:hover .item_btn3{
					top: 52%;
				}
			.item_btn3{
				position: absolute;
				top: 150%;
				left: 30px;
				z-index: 2;
				color: white;
				font-size: 20px;
				transition: all .35s;
				background-color: #E87A3C;
				color: white;
				padding: 5px 15px;
				border-radius: 50px;
				font-weight: 500;
			}
				
			.item3_hidden::after{
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.4);
				z-index: 1;
				opacity: 0;
				transition: all .35s;
			}
				.hotplace_item3:hover .item3_hidden::after{
					opacity: 1;
				}

		.hotplace_item4{
			display: inline-block;
			vertical-align: top;
			width: 312px;
			height: 460px;
			position: relative;
			overflow: hidden;
			float: left;
		}
		.hotplace_item4 img{
			width: 312px;
			height: 460px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
		}
			.item4_hidden{
				display: block;
				width: auto;
				text-decoration: none;
			}
			.item_data4{
				position: absolute;
				bottom: 150%;
				left: 30px;
				padding-right: 30px;
				z-index: 2;
				color: white;
				font-size: 20px;
				transition: all .35s;
			}
				.hotplace_item4:hover .item_data4{
					bottom: 52%;
				}
				.hotplace_item4:hover .item_btn4{
					top: 52%;
				}
			.item_btn4{
				position: absolute;
				top: 150%;
				left: 30px;
				z-index: 2;
				color: white;
				font-size: 20px;
				transition: all .35s;
				background-color: #E87A3C;
				color: white;
				padding: 5px 15px;
				border-radius: 50px;
				font-weight: 500;
			}
				
			.item4_hidden::after{
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.4);
				z-index: 1;
				opacity: 0;
				transition: all .35s;
			}
				.hotplace_item4:hover .item4_hidden::after{
					opacity: 1;
				}

		.hotplace_item5{
			display: inline-block;
			vertical-align: top;
			width: 600px;
			height: 188px;
			position: relative;
			bottom: 188px;
			overflow: hidden;
			float: left;
		}
		.hotplace_item5 img{
			width: 600px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
		}
			.item5_hidden{
				display: block;
				width: auto;
				text-decoration: none;
			}
			.item_data5{
				position: absolute;
				bottom: 150%;
				left: 30px;
				padding-right: 30px;
				z-index: 2;
				color: white;
				font-size: 20px;
				transition: all .35s;
			}
				.hotplace_item5:hover .item_data5{
					bottom: 52%;
				}
				.hotplace_item5:hover .item_btn5{
					top: 58%;
				}
			.item_btn5{
				position: absolute;
				top: 150%;
				left: 30px;
				z-index: 2;
				color: white;
				font-size: 20px;
				transition: all .35s;
				background-color: #E87A3C;
				color: white;
				padding: 5px 15px;
				border-radius: 50px;
				font-weight: 500;
			}
				
			.item5_hidden::after{
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.4);
				z-index: 1;
				opacity: 0;
				transition: all .35s;
			}
				.hotplace_item5:hover .item5_hidden::after{
					opacity: 1;
				}

		.hotplace_item6{
			display: inline-block;
			vertical-align: top;
			width: 288px;
			height: 188px;
			position: relative;
			bottom: 188px;
			overflow: hidden;
			float: left;
		}
		.hotplace_item6 img{
			width: 288px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
		}
			.item6_hidden{
				display: block;
				width: auto;
				text-decoration: none;
			}
			.item_data6{
				position: absolute;
				bottom: 150%;
				left: 30px;
				padding-right: 30px;
				z-index: 2;
				color: white;
				font-size: 20px;
				transition: all .35s;
			}
				.hotplace_item6:hover .item_data6{
					bottom: 44%;
				}
				.hotplace_item6:hover .item_btn6{
					top: 64%;
				}
			.item_btn6{
				position: absolute;
				top: 150%;
				left: 30px;
				z-index: 2;
				color: white;
				font-size: 20px;
				transition: all .35s;
				background-color: #E87A3C;
				color: white;
				padding: 5px 15px;
				border-radius: 50px;
				font-weight: 500;
			}
				
			.item6_hidden::after{
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.4);
				z-index: 1;
				opacity: 0;
				transition: all .35s;
			}
				.hotplace_item6:hover .item6_hidden::after{
					opacity: 1;
				}

		.review{
			width: 1920px;
		}
		.review h4{
			text-align: center;
			font-size: 32px;
			font-family: "SDsamlip";
			color: #E87A3C;
			margin-top: 96px;
			margin-bottom: 32px;
		}

		.review_container{
			width: 1200px;
			height: 432px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 120px;
		}
			.review_item1{
				width: 280px;
				height: 432px;
				float: left;
				margin-right: 32px;
			}
			.review_item1 img{
				width: 280px;
				height: 312px;
				margin: 0;
			}
			.textbox_1{
				width: 280px;
				height: 120px;
				margin-top: -4px;
				background-color: #F3F3F3;
				padding: 0 16px 16px 16px;
			}
				.instaid1{
					font-size: 14px;
					font-weight: bold;
					padding-top: 12px;
					margin-bottom: 4px;
				}
				.review_text{
					font-size: 14px;
					text-align: justify;
					letter-spacing: -0.5px;
					font-weight: normal;
				}

			.review_item2{
				width: 280px;
				height: 432px;
				float: left;
				margin-right: 32px;
			}
			.review_item2 img{
				width: 280px;
				height: 312px;
				margin: 0;
			}
			.textbox_2{
				width: 280px;
				height: 120px;
				margin-top: -4px;
				background-color: #F3F3F3;
				padding: 0 16px 16px 16px;
			}
				.instaid1{
					font-size: 14px;
					font-weight: bold;
					padding-top: 12px;
					margin-bottom: 4px;
				}
				.review_text{
					font-size: 14px;
					text-align: justify;
					letter-spacing: -0.5px;
					font-weight: normal;
				}

			.review_item3{
				width: 576px;
				height: 128px;
				float: left;
				margin-bottom: 24px;
			}
			.review_item3 img{
				width: 128px;
				height: 128px;
				float: left;
			}
			.textbox_3{
				width: 448px;
				height: 128px;
				background-color: #F3F3F3;
				padding: 0 20px 24px 20px;
				margin-left: 128px;
			}
				.instaid2{
					font-size: 14px;
					font-weight: bold;
					padding-top: 24px;
					margin-bottom: 8px;
				}
				.review_text{
					font-size: 14px;
					text-align: justify;
					letter-spacing: -0.5px;
					font-weight: normal;
				}

			.review_item4{
				width: 576px;
				height: 128px;
				float: left;
				margin-bottom: 24px;
			}
			.review_item4 img{
				width: 128px;
				height: 128px;
				float: left;
			}
			.textbox_4{
				width: 448px;
				height: 128px;
				background-color: #F3F3F3;
				padding: 0 20px 24px 20px;
				margin-left: 128px;
			}
				.instaid2{
					font-size: 14px;
					font-weight: bold;
					padding-top: 24px;
					margin-bottom: 8px;
				}
				.review_text{
					font-size: 14px;
					text-align: justify;
					letter-spacing: -0.5px;
					font-weight: normal;
				}

			.review_item5{
				width: 576px;
				height: 128px;
				float: left;
			}
			.review_item5 img{
				width: 128px;
				height: 128px;
				float: left;
			}
			.textbox_5{
				width: 448px;
				height: 128px;
				background-color: #F3F3F3;
				padding: 0 20px 24px 20px;
				margin-left: 128px;
			}
				.instaid2{
					font-size: 14px;
					font-weight: bold;
					padding-top: 24px;
					margin-bottom: 8px;
				}
				.review_text{
					font-size: 14px;
					text-align: justify;
					letter-spacing: -0.5px;
					font-weight: normal;
				}

		.bottom_back{
			width: 1920px;
			height: 192px;
			background-color: #EBEBEB;
			padding-top: 32px;
		}
		.bottom_container{
			width: 1200px;
			margin-left: auto;
			margin-right: auto;
		}
		.left{
			float: left;
		}
			.b_1{
				font-size: 16px;
				font-weight: bold;
			}
			.b_2{
				font-size: 32px;
				font-weight: bold;
				margin-bottom: 8px;
			}
			.b_3{
				font-size: 14px;
				font-weight: 400;
				margin-bottom: 12px;
			}
			.link{
				font-size: 12px;
			}
				.link_text{
					font-weight: 500;
					margin-right: 8px;
				}

		.right{
			float: right;
		}
			.right img{
				width: 98.74px;
				height: 24.89px;
				margin-top: 60px;
				margin-bottom: 8px;
				margin-left: 125px;
			}
			.b_4{
				font-size: 11px;
				font-weight: 400;
			}